<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Detail</title>
</head>
<body>
<h3>View Product</h3>
<p>
    <a th:href="@{/product}">
        Back to product list
    </a>
</p>
<div id="detail">
    <div>
        <label>ID:</label>
        <label th:text="${product.id}"></label>
    </div>
    <div>
        <label>Product Name: </label>
        <label th:text="${product.productName}"></label>
    </div>
    <div>
        <label>Price:</label>
        <label th:text="${product.productPrice}"></label>
    </div><div>
        <label>Description:</label>
        <label th:text="${product.productDescription}"></label>
    </div><div>
        <label>Publisher:</label>
        <label th:text="${product.productPublisher}"></label>
    </div>
</div>
</body>
</html>