<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Product detail</h2>
<a th:href="@{/}">Back to book list.</a>
<hr>

<table class="table table-success table-striped">
    <tr>
        <td>Name:</td>
        <td th:text="${products.get().name}"></td>
    </tr>
    <tr>
        <td>Price:</td>
        <td th:text="${products.get().price}"></td>
    </tr>
    <tr>
        <td>Description:</td>
        <td th:text="${products.get().description}"></td>
    </tr>

</table>
</body>
</html>