<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Creating New Product</title>
</head>
<body>
<form th:action="@{/product/add}" method="post" th:object="${product}">
  <fieldset>
    <legend>
      New Product
    </legend>
    <table>
      <tr>
        <td><label for="id">ID</label></td>
        <td><input id="id" th:field="*{id}" required><br></td>
      </tr>
      <tr>
        <td><label for="name">Name</label></td>
        <td><input id="name" th:field="*{productName}" required></td>
      </tr>
      <tr>
        <td><label for="price">Price</label></td>
        <td><input id="price" th:field="*{productPrice}" required></td>
      </tr>
      <tr>
        <td><label for="desc">Description</label></td>
        <td><input id="desc" th:field="*{productDescription}" required></td>
      </tr>
      <tr>
        <td><label for="brand">Publisher</label></td>
        <td><input id="brand" th:field="*{productPublisher}" required></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button type="submit">Create</button>
          &nbsp;
          <a role="button" th:href="@{/product}">Back to list</a>
        </td>
      </tr>
    </table>
  </fieldset>
</form>
</body>
</html>